<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sentaroh.android.SMBSync">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="11"/>
    
	<uses-permission android:name="android.permission.INTERNET"/>
   	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
   	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
   	<uses-permission android:name="android.permission.WAKE_LOCK"/>
   	<uses-permission android:name="android.permission.VIBRATE"/>
   	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   	
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
   	
    <application
        android:icon="@drawable/smbsync"
        android:label="@string/app_name"
        android:theme="@style/Main" 
        android:name="GlobalParameters" android:largeHeap="true">
        <receiver 
    	    android:name=".SchedulerReceiver"
    	    android:icon="@drawable/action_bar_icon" 
    	    android:label="SchedulerReceiver"
    	    android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.DATE_CHANGED"/>
 				<action android:name="android.intent.action.TIMEZONE_CHANGED"/>
 				<action android:name="android.intent.action.TIME_SET"/>
 				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				
				<action android:name="com.sentaroh.android.SMBSync.ACTION_TIMER_EXPIRED" />
				<action android:name="com.sentaroh.android.SMBSync.ACTION_SET_TIMER" />
				<action android:name="com.sentaroh.android.SMBSync.ACTION_SET_TIMER_IF_NOT_SET" />
				<action android:name="com.sentaroh.android.SMBSync.ACTION_SET_WIFI_OFF"/>
			</intent-filter>
		</receiver>
        
        <activity
            android:label="@string/app_name"
            android:name=".SMBSyncMain"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="unspecified" 
            android:alwaysRetainTaskState="true"
            android:icon="@drawable/action_bar_icon" >
		<!-- android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"-->			
	　　 	<!-- android:configChanges="locale|keyboardHidden|orientation|layoutDirection"-->
       	<!-- android:alwaysRetainTaskState="true"-->
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
	        android:name=".SMBSyncSettings"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" 
            android:icon="@drawable/action_bar_icon">
        </activity>
        <!-- android:noHistory="true"  -->
        
        <service android:name=".SMBSyncService"/>
        
    </application>

</manifest>